<div>
  <hr/>
  <h3>category Page</h3>
  <p>
    To store the places where I have been....
  </p>

    <a [routerLink]="['/category_details']">ÀLGEBRA</a><br>
    <a [routerLink]="['/category_details']">ARITMÈTICA</a><br>
    <a [routerLink]="['/category_details']">CÀLCUL</a><br>
    <a [routerLink]="['/category_details']">PROBABILITATS</a><br>
    <a [routerLink]="['/category_details']">TRIGONOMETRIA</a><br>
    <a [routerLink]="['/category_details']">GEOMETRIA</a><br>
    <a [routerLink]="['/category_details']">ESTADÍSTICA</a><br>
  
  
</div>